
data/games/.DS_Store
data/games/.DS_Store
data/.DS_Store
data/players/.DS_Store
data/players/.DS_Store
.Rhistory
.Rproj.user/EFE854AC/pcs/source-pane.pper
.Rproj.user/EFE854AC/sources/per/t/3ED8CFCD
.Rproj.user/EFE854AC/sources/per/t/3ED8CFCD-contents
.Rproj.user/EFE854AC/sources/per/t/984BF2C8
.Rproj.user/EFE854AC/sources/per/t/984BF2C8-contents
.Rproj.user/EFE854AC/sources/per/t/A3371FB5
.Rproj.user/EFE854AC/sources/per/t/A3371FB5-contents
.Rproj.user/EFE854AC/sources/per/t/D0CFBA96
.Rproj.user/EFE854AC/sources/per/t/D0CFBA96-contents
.Rproj.user/EFE854AC/sources/prop/CE3107B4
.Rproj.user/EFE854AC/sources/prop/EC7D562
.Rproj.user/EFE854AC/sources/s-E464CE76/19089C3
.Rproj.user/EFE854AC/sources/s-E464CE76/19089C3-contents
.Rproj.user/EFE854AC/sources/s-E464CE76/5F71521C
.Rproj.user/EFE854AC/sources/s-E464CE76/5F71521C-contents
.Rproj.user/EFE854AC/sources/s-E464CE76/8565C71
.Rproj.user/EFE854AC/sources/s-E464CE76/8565C71-contents
.Rproj.user/EFE854AC/sources/s-E464CE76/A5FC6553
.Rproj.user/EFE854AC/sources/s-E464CE76/A5FC6553-contents
.Rproj.user/EFE854AC/sources/s-E464CE76/AE39824F
.Rproj.user/EFE854AC/sources/s-E464CE76/AE39824F-contents
.Rproj.user/EFE854AC/sources/s-E464CE76/F2C61679
.Rproj.user/EFE854AC/sources/s-E464CE76/F2C61679-contents
.Rproj.user/EFE854AC/sources/s-E464CE76/F37D0D2E
.Rproj.user/EFE854AC/sources/s-E464CE76/F37D0D2E-contents
.Rproj.user/EFE854AC/sources/s-E464CE76/lock_file
data/games/.DS_Store
.Rhistory
.Rproj.user/EFE854AC/pcs/source-pane.pper
.Rproj.user/EFE854AC/sources/per/t/3ED8CFCD
.Rproj.user/EFE854AC/sources/per/t/3ED8CFCD-contents
.Rproj.user/EFE854AC/sources/per/t/984BF2C8
.Rproj.user/EFE854AC/sources/per/t/984BF2C8-contents
.Rproj.user/EFE854AC/sources/per/t/A3371FB5
.Rproj.user/EFE854AC/sources/per/t/A3371FB5-contents
.Rproj.user/EFE854AC/sources/per/t/D0CFBA96
.Rproj.user/EFE854AC/sources/per/t/D0CFBA96-contents
.Rproj.user/EFE854AC/sources/prop/CE3107B4
.Rproj.user/EFE854AC/sources/prop/EC7D562
data/games/.DS_Store
.Rproj.user/EFE854AC/sources/prop/32CBA8C7
.Rproj.user/EFE854AC/sources/prop/8ACD50C
.Rproj.user/EFE854AC/sources/prop/8EB87773
.Rproj.user/EFE854AC/sources/prop/CC056128
.Rproj.user/EFE854AC/sources/prop/CE3107B4
.Rproj.user/EFE854AC/sources/prop/EC7D562
.Rproj.user/EFE854AC/sources/prop/INDEX
.Rproj.user/EFE854AC/sources/s-E464CE76/120E912C-contents
.Rproj.user/EFE854AC/sources/s-E464CE76/6753518C-contents
.Rproj.user/EFE854AC/sources/s-E464CE76/774C8277
.Rproj.user/EFE854AC/sources/s-E464CE76/774C8277-contents
.Rproj.user/EFE854AC/sources/s-E464CE76/7B755079-contents
.Rproj.user/EFE854AC/sources/s-E464CE76/8EBF40AB
.Rproj.user/EFE854AC/sources/s-E464CE76/8EBF40AB-contents
.Rproj.user/EFE854AC/sources/s-E464CE76/9690C03B-contents
.Rproj.user/EFE854AC/sources/s-E464CE76/96F9174B-contents
.Rproj.user/EFE854AC/sources/s-E464CE76/9F705345-contents
.Rproj.user/EFE854AC/sources/s-E464CE76/A1FC8DC7-contents
.Rproj.user/EFE854AC/sources/s-E464CE76/A8BD71E-contents
.Rproj.user/EFE854AC/sources/s-E464CE76/A98102A6
.Rproj.user/EFE854AC/sources/s-E464CE76/A98102A6-contents
.Rproj.user/EFE854AC/sources/s-E464CE76/ABE50BB-contents
.Rproj.user/EFE854AC/sources/s-E464CE76/B29CE2DA-contents
.Rproj.user/EFE854AC/sources/s-E464CE76/BBC13A90-contents
.Rproj.user/EFE854AC/sources/s-E464CE76/C1044489-contents
.Rproj.user/EFE854AC/sources/s-E464CE76/C6B81AA5-contents
.Rproj.user/EFE854AC/sources/s-E464CE76/DFE3E563-contents
.Rproj.user/EFE854AC/sources/s-E464CE76/F61B6C2F-contents
.Rproj.user/EFE854AC/sources/s-E464CE76/FE707B21-contents
.Rproj.user/shared/notebooks/paths
*.pper
